<div class="header panel-active">
	<div id="logo-container" class="logo-container">
		<div class="logo-holder holder">
            <img src="img/logo_32.png"/>
		</div>
		<div class="text-holder holder">
			<div class="top-text"><span class="left-text">market</span><span class="right-text">Notifications</span></div>
		</div>
	</div>
</div>

<div class="panel-menu">
	<div class="panel-row" data-panel="messages">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-envelope"></span></div>
		<div class="panel-text panel-data">Send messages</div>
	</div>
	<div class="panel-row" data-panel="automaticMessages">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="fa fa-bell"></span></div>
		<div class="panel-text panel-data">Register reminder</div>
	</div>
	<div class="panel-row" data-panel="loginReminder">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="fa fa-unlock-alt"></span></div>
		<div class="panel-text panel-data">Login reminder</div>
	</div>
	<div class="panel-row" data-panel="uploadReminder">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="fa fa-id-card-o"></span></div>
		<div class="panel-text panel-data">Kyc upload reminder</div>
	</div>
	<!-- <div class="panel-row" data-panel="reports">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-stats"></span></div>
		<div class="panel-text panel-data">Live reports</div>
	</div> -->
	<!-- <div class="panel-row" data-panel="alerts">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-comment"></span></div>
		<div class="panel-text panel-data">Market alerts</div>
	</div>
	<div class="panel-row" data-panel="push">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><span class="glyphicon glyphicon-chevron-up"></span></div>
		<div class="panel-text panel-data">Push notifications</div>
	</div>
	<div class="panel-row" data-panel="rules">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><i class="fa fa-sitemap"></i></div>
		<div class="panel-text panel-data">Create rules</div>
	</div> -->
	<!-- <div class="panel-row" data-panel="groups">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><i class="fa fa-users"></i></div>
		<div class="panel-text panel-data">User groups</div>
	</div>
	<div class="panel-row" data-panel="languages">
		<div class="panel-marker panel-data"></div>
		<div class="panel-icon panel-data"><i class="fa fa-globe"></i></div>
		<div class="panel-text panel-data">Languages</div>
	</div> -->
</div>