<div class="col-sm-12 message-input %%code%%-input" data-language="%%code%%">
	<span class="current-language">%%language%%</span>
	<span class="message-input-type">Alert message</span>
	<div id="message-%%code%%"></div>
	<span class="message-input-type">Push title</span>
	<input type="text" id="push-title-%%code%%" class="title-push" placeholder="">
	<span class="message-input-type">Push message</span>
	<textarea id="push-message-%%code%%" rows="6"></textarea>
	<span class="message-input-type">Browser action</span>
	<input type="text" id="browser-action-%%code%%" class="browser action-input" placeholder="">
	<span class="message-input-type">Mobile action</span>
	<input type="text" id="mobile-action-%%code%%" class="mobile action-input" placeholder="">
</div>